.why-css{
    height: 500px;
    width: 100%;
    background-image: url('https://i.ibb.co/n1KVJbB/wepik-2022423-152923-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}